---
import Section from "../Section.astro";
---

<Section id="about" title="Sobre mí">
    <p>
        Hace más de 5 años que empecé a interesarme en la <strong
            >programación</strong
        > y el <strong>desarrollo de software</strong>. Desde entonces estoy
        aprendiendo. Aunque parezca un largo tiempo, en realidad es poco
        comparado con la cantidad de cosas que hay por aprender. Por eso,
        siempre estoy buscando aprender cosas nuevas y mejorar mis habilidades.
    </p>
    <p>
        Me apasiona la <strong>programación</strong> y el <strong
            >desarrollo de software</strong
        >, y me encanta aprender cosas nuevas. Tengo conocimientos en el uso de
        varios <strong>lenguajes de programación</strong>, <strong
            >frameworks</strong
        >, <strong>tecnologias</strong> y <strong
            >herramientas de desarrollo</strong
        >. Me adapto sin problemas a trabajar tanto en el <strong
            >frontend</strong
        > como en el
        <strong>backend</strong>, completando así el desarrollo <strong
            >fullstack</strong
        >. Disfruto trabajar en equipo y colaborar con otros desarrolladores
        para crear soluciones innovadoras y de alta calidad.
    </p>
    <p>
        Mi objetivo es convertime en un <strong
            >desarrollador de software de alto nivel</strong
        >. Aspiro a trabajar en una empresa que me permita seguir aprendiendo y
        creciendo como profesional, y que me brinde la oportunidad de trabajar
        en proyectos desafiantes.
    </p>
    <p>
        Actualmente, estoy buscando trabajo como <strong
            >desarrollador de software</strong
        >.
    </p>
</Section>
