---
import Section from "../Section.astro";
---

<Section id="education" title="Educación">
    <h3><strong>Universidad Tecnológica Nacional (UTN)</strong></h3>
    <p>Tecnicatura Universitaria en Sistemas Informáticos</p>
    <p>2023 - Actualidad</p>
</Section>
