---
import Section from "../Section.astro";
---

<h1 class="text-4xl font-extrabold">Mathías Ezequiel Latrónico</h1>

<Section id="hero" title="Bienvenido a mi Portafolio">
    <p>
        Hola, soy un <strong>desarrollador de software</strong> y estudiante de la
        <strong>Tecnicatura Universitaria en Sistemas Informáticos</strong> en la
        <strong>Universidad Tecnológica Nacional (UTN)</strong> de Buenos Aires,
        Argentina.
    </p>
</Section>
