---
import Section from "../Section.astro";
---

<Section id="skills" title="Habilidades">
    <ul class="list-inside list-disc">
        <li>JavaScript, TypeScript, Java, Python, C++</li>
        <li>React</li>
        <li>HTML, CSS</li>
        <li>Node, Express</li>
        <li>Git, GitHub</li>
        <li>SQL, NoSQL</li>
    </ul>
</Section>
