<footer
    class="flex flex-col justify-between py-4 gap-2 dark:text-secondary-light sm:flex-row"
>
    <span>© 2024 mathxlat. Programming is my passion.</span>
    <a
        href="mailto:mathiezelat@gmail.com"
        class="underline-offset-2 hover:underline focus:underline"
    >
        Contacto
    </a>
</footer>
